/target/
__pycache__
.ipynb_checkpoints
.DS_Store
.idea
.iml
.project
run.txt
build.log
collections*
pytorch-pretrained-BERT-mod
flexneuart/resources
flexneuart/resources/jars
flexneuart/resources/bin
scripts/bin
scripts/mgiza
scripts/install.log
scripts/trec_eval
scripts/trec_eval-9.0.7
build/
dist/
flexneuart.egg-info
