/target/
__pycache__
.ipynb_checkpoints
/.idea/
/scripts/.idea/
/scripts/venv/
/lemur-code-r2792-RankLib-trunk/target/
/collections/squad
/collections/msmarco_doc
.DS_Store
.iml
FlexNeuART.iml
.log
main.build.log
flecsneurt-demo*
model.best*
/run.txt
