jupyter
pandas
einops
lxml
bson
tqdm
urllib3
pytools

beautifulsoup4

ir_datasets

pyjnius

torch
torchtext

transformers
spacy
sentence-transformers
sentencepiece
krovetzstemmer

numpy

# we don't support more recent versions.
thrift==0.13.0
typing-extensions

# Colbert specific
ujson

# Mosaic bert specific
triton==2.0.0.dev20221202

# Deeberta specific, might fail with older protobuf versions.
# but let's not install it by default, actually newer 
# transformer versions should install protbuf on its own
#protobuf==3.20

# for logging
wandb
