jupyter
pandas
lxml
bson
tqdm
urllib3
pytools

beautifulsoup4

ir_datasets

pyjnius

torch
torchtext

# let's fix transformers versions, this is the key library and 
# each upgrade can be a surprise
transformers==4.22.2
# same applies to spacy
spacy==2.2.3
sentence-transformers
sentencepiece
krovetzstemmer

numpy

# we don't support more recent versions.
thrift==0.13.0
typing-extensions

# Colbert specific
ujson
# Deeberta specific, might fail with older
# protobuf versions.
protobuf==3.20.2
